<h1>"Hello World"</h1>

<div>
  <h1>List of products</h1>
  <%= form_tag({:controller => "orders", :action => "submit" }, {:id => 'order-details'}) do %>
    <input id="order-type" name="orders[payment_gateway]" type="hidden" value="stripe"></input>
    <div class="form_row"></div>
  <% end %>
</div>

<h4>Charges/Payments</h4>
  <% @products_purchase.each do |product| %>
    <div data-charges-and-payments-section="<%= true %>">
        <%= radio_button_tag 'orders[product_id]', product.id, @products_purchase.first == product %>
        <span id="radioButtonName<%= product.id %>"><%= product.name %></span>
        <span data-price="<%= product.price_cents %>" id="radioButtonPrice<%= product.id %>"><%= humanized_money_with_symbol product.price %></span>
    </div>
    <br/>
    <% end %>


<h4>Subscriptions</h4>
    <% @products_subscription.each do |product| %>
    <div>
        <%= radio_button_tag 'orders[product_id]', product.id, false %>
        <span id="radioButtonName<%= product.id %>"><%= product.name %></span>
        <span data-price="<%= product.price_cents %>" id="radioButtonPrice<%= product.id %>"><%= humanized_money_with_symbol product.price %></span>
    </div>
    <br/>
    <% end %>
<hr>
    <h1>Payment Method</h1>
        <div class="form_row">
            <div>
                <%= radio_button_tag 'payment-selection', 'stripe', true, onclick: "changeTab();" %>
                <span>Stripe</span>
            </div>
            <br/>
            <div>
                <%= radio_button_tag 'payment-selection', 'paypal', false, onclick: "changeTab();" %>
                <span>Paypal</span>
            </div>
        </div>
        <br/>
        <br/>
    <div class="paymentSelectionTab active" id="tab-stripe">
        <div id="card-element"></div>
            <div id="card-errors" role="alert"></div>
            <br/>
            <br/>
            <%= submit_tag "Buy it!", id: "submit-stripe" %>
            </div>
        <div class="paymentSelectionTab" id="tab-paypal">
            <div id="submit-paypal"></div>
        </div>
            <br/>
    <hr/>



